

<div class="container mt-4 table-responsive">
  <table class="table table-bordered align-middle shadow-sm">
    <thead class="table-success">
      <tr style="text-align: center;">
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (u of usuarios; track u.id_usuario; ) {
      <tr style="text-align: center;">
        <th scope="row">{{ u.id_usuario }}</th>
        <td>{{ u.nombre }}</td>
        <td>{{ u.apellido }}</td>
        <td>{{ u.telefono }}</td>
        <td>{{ u.email }}</td>

        <td>
          @if (u.id_usuario !== undefined) {
          <button type="button" class="btn btn-danger ms-4" (click)="deleteUsuario(u.id_usuario!)" >
            <img src="https://img.icons8.com/?size=100&id=102715&format=png&color=000000" alt="eliminar" width="40px">
          </button>
          }

          <button type="button" class="btn btn-warning ms-4"  data-bs-toggle="modal"
            data-bs-target="#editarUsuarioModal" (click)="emitirUsuario(u)">
            <img src="https://img.icons8.com/?size=100&id=102714&format=png&color=000000" alt="editar" width="40px">
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
