# ==========================
# .NET / Visual Studio
# ==========================
bin/
obj/
*.user
*.suo
*.cache
*.log
*.vs/
# *.vscode/
*.dbmdl
*.bak
*.ldf
*.ndf

# Archivos de configuración locales
launchSettings.json

# ==========================
# Sistema Operativo
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Frontend (React / Angular / Vue)
# ==========================
node_modules/
dist/
build/
*.lock
/frontend/.angular/






# ==========================
# Docker
# ==========================
*.pid
.env

# ==========================
# Tests / Coverage
# ==========================
TestResult*/
coverage/
*.trx
# Angular build outputs
/tmp
/out-tsc
/bazel-out

# Angular cache
/.angular/cache

# Angular test tools and logs
testem.log
/libpeerconnection.log

# ==========================
# Visual Studio Code
# ==========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Optional IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.sass-cache/
/connect.lock
/typings

# Extra logs
npm-debug.log
yarn-error.log
